﻿@using ProvaDBServer.Models
@model IEnumerable<ProvaDBServer.Models.Team>
@{
    ViewBag.Title = "Index";
}

<h2>Verificar o próximo restaurante a visitar</h2>
@using (Html.BeginForm("Search", "Home", FormMethod.Get))
{
    <div>
        @Html.DisplayName("Equipe")
        @Html.DropDownList("TeamId")
        <input type="submit" value="Verificar" class="btn btn-default"/>
    </div>
    <div>
        @Html.ActionLink("Ver lista de visitas da equipe em restaurante", "List")
    </div>
}
