﻿@using ProvaDBServer.Models
@model IEnumerable<ProvaDBServer.Models.TeamRestaurant>
@{
    ViewBag.Title = "List";
}

<h2>Lista</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Equipe")
        </th>
        <th>
            @Html.DisplayName("Restaurante")
        </th>
        <th>
            @Html.DisplayName("Preferência")
        </th>
        <th>
            @Html.DisplayName("Visitado")
        </th>
        <th></th>
    </tr>
    @foreach (TeamRestaurant tr in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => Team.teams.Find(t => t.TeamId == tr.TeamId).Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Restaurant.restaurants.Find(r => r.RestaurantId == tr.RestaurantId).Name)
            </td>
            <td>
                @Html.DisplayName(tr.PercentPreference())
            </td>
            <td>
                @Html.DisplayFor(modelItem => tr.IsVisited)
            </td>
        </tr>
    }
</table>

<div>
    @Html.ActionLink("Voltar para tela inicial", "Index")
</div>