﻿@using ProvaDBServer.Models
@model ProvaDBServer.Models.TeamRestaurant

@{
    ViewBag.Title = "Search";
}


@using(Html.BeginForm("RestaurantSearchConfirmed", "Home", FormMethod.Post))
{
    @Html.HiddenFor(model => model.TeamId)
    <div>
    <p>
        Próximo restaurante:
        @Html.DisplayName(Restaurant.restaurants.Find(restaurant => restaurant.RestaurantId == Model.RestaurantId).Name)
        <input type="submit" value="Confirmar" class="btn btn-default"/>
    </p>
</div>
<div>
    @Html.ActionLink("Voltar", "Index")
</div>
}