﻿@using ProvaDBServer.Models
@model ProvaDBServer.Models.Employee

@{
    ViewBag.Title = "Delete";
}

<h3>Você tem certeza que quer deletar essa informação?</h3>
<div>


    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.EmployeeId)
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TeamId)
            </dt>

            <dd>
                @Html.DisplayFor(model => Team.teams.Find(t => t.TeamId == model.TeamId).Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.RestaurantId)
            </dt>

            <dd>
                @Html.DisplayFor(model => Restaurant.restaurants.Find(r => r.RestaurantId == model.RestaurantId).Name)
            </dd>

        </dl>
        <div class="form-actions no-color">
            <input type="submit" value="Deletar" class="btn btn-default" /> |
            @Html.ActionLink("Voltar para lista", "Index")
        </div>
    }
</div>
