﻿@using ProvaDBServer.Models
@model IEnumerable<ProvaDBServer.Models.Employee>

@{
    ViewBag.Title = "Funcionários";
}

<h2>Funcionários</h2>

<p>
    @Html.ActionLink("Criar Novo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Nome")
        </th>
        <th>
            @Html.DisplayName("Equipe")
        </th>
        <th>
            @Html.DisplayName("Restaurante")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Team.teams.Find(t => t.TeamId == item.TeamId).Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Restaurant.restaurants.Find(r => r.RestaurantId == item.RestaurantId).Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EmployeeId }) |
            @if (Employee.employees.Count > 1)
            {
                @Html.ActionLink("Delete", "Delete", new {id = item.EmployeeId});
            } 
        </td>
    </tr>
}

</table>
