﻿@model ProvaDBServer.Models.Restaurant

@{
    ViewBag.Title = "Delete";
}

<h3>Você tem certeza que quer deletar essa informação?</h3>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Restaurante")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>

    @using (Html.BeginForm("DeleteConfirmed", "Restaurant", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.RestaurantId)
        <div class="form-actions no-color">
            <input type="submit" value="Deletar" class="btn btn-default" /> |
            @Html.ActionLink("Voltar para lista", "Index")
        </div>
    }
</div>
