﻿@using ProvaDBServer.Models
@model IEnumerable<ProvaDBServer.Models.Restaurant>

@{
    ViewBag.Title = "Index";
}

<h2>Restaurantes</h2>

<p>
    @Html.ActionLink("Criar novo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new {id = item.RestaurantId}) |
            @if (Restaurant.restaurants.Count > 1)
            {
                @Html.ActionLink("Deletar", "Delete", new {id = item.RestaurantId});
            }
        </td>
    </tr>
}

</table>
