﻿@model ProvaDBServer.Models.Team

@{
    ViewBag.Title = "Delete";
}

<h3>Você tem certeza que quer deletar essa Equipe?</h3>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Equipe")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>

    @using (Html.BeginForm("DeleteConfirmed", "Team", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.TeamId)
        <div class="form-actions no-color">
            <input type="submit" value="Deletar" class="btn btn-default" /> |
            @Html.ActionLink("Voltar para lista", "Index")
        </div>
    }
</div>
