﻿@using ProvaDBServer.Models
@model IEnumerable<ProvaDBServer.Models.Team>

@{
    ViewBag.Title = "Team";
}

<h2>Equipes</h2>

<p>
    @Html.ActionLink("Criar Nova Equipe", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new {id = item.TeamId}) |
            @if (Team.teams.Count > 1)
            {
                @Html.ActionLink("Deletar", "Delete", new { id = item.TeamId });
            }
        </td>
    </tr>
}

</table>
