﻿@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("Verificar restaurante", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Funcionários", "Index", "Employee", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Equipes", "Index", "Team", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Restaurantes", "Index", "Restaurant", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Cristian Ritter para Prova da DBServer</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("Scripts", required: false)
</body>
</html>